/**
 * Created by Eunjin Yang on 2018. 3. 17.
 * Corp : Kstar Group
 * Github : http://github.com/jinny920311
 */

/*Noto Sans KR*/
@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url('../fonts/NotoSansKR-DemiLight.eot');
  src: local(※),
  url('../fonts/NotoSansKR-DemiLight.woff') format('woff'),
  url('../fonts/NotoSansKR-DemiLight.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url('../fonts/NotoSansKR-Bold.eot');
  src: local(※),
  url('../fonts/NotoSansKR-Bold.woff') format('woff'),
  url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}




