$black: #000000;
$dnavy: #282d36;
$white: #ffffff;
$purple: #6b58a7;
$lpurple: #745ad7;
$grey: #454545;
$lgrey: #838383;
$red: #f74242;
$pink: #f466ba;

$event-color: #4c0489;

$disable-color: #c7c7c7;

$border-color: #c6c6c6 !default;
$check-border-color: #838383 !default;
$placeholder-color: #c5c5c5 !default;


//폰트
$korea: 'Noto Sans KR', sans-serif;
$china: 'cwTeXHei', 'Noto Sans SC',  sans-serif;
$roboto: 'Roboto', sans-serif;

//break point
$breakpoints: (
  '1250': (max-width: 1250px),
  '1000': (max-width: 1000px),
  '900': (max-width: 900px),
  '765': (max-width: 765px),
  '700': (max-width: 700px),
  '600': (max-width: 600px),
  '500': (max-width: 500px),
  '450': (max-width: 450px),
  '400': (max-width: 400px),
  '350': (max-width: 350px),
) !default;

/*
Scss 에서 사용법
@include respond-to('500') {
  color: blue;
}
*/

//자주사용하는 변수
$nor: no-repeat; //background-repeat: no-repeat;
$center: 50% 50%; //background-position: 50% 50%;
