/*Noto Sans KR*/
@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url('../fonts/NotoSansKR-DemiLight.eot');
  src: local(※),
  url('../fonts/NotoSansKR-DemiLight.woff') format('woff'),
  url('../fonts/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url('../fonts/NotoSansKR-Bold.eot');
  src: local(※),
  url('../fonts/NotoSansKR-Bold.woff') format('woff'),
  url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}

// @font-face {
//   font-family: "noto-sans";
//   src: url(../font/noto-sans.eot); /* IE9 Compat Modes */
//   src: url(../font/noto-sans.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
//   url(../font/noto-sans.woff2) format("woff2"), /* Modern Browsers */
//   url(../font/noto-sans.woff) format("woff"), /* Modern Browsers */
//   url(../font/noto-sans.ttf) format("truetype"); /* Safari, Android, iOS */
// }


